<title>{{ title }}</title>
<nav class="nav-bar">
    <div class="brand-title">Kuan's Dating App</div>
    <div class="nav-bar-links">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile/{{ id }}">Profile</a></li>
            <li><a href="/date">Start</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>