<body class="login-body">
    <header>
        <div class="loginbox">
        <img src="css/images/loveAvatar.png" class="avatar" alt="avatar">
            <h1>LOGIN NOW!</h1>
            <form id="login-form" action="/login" method="POST">
                <p id="login-error-message">{{ error }}</p>
                <div class="login-input">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username">
                    <span class="login-error" id="username_error_message"></span>
                </div>
                <div class="login-input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password">
                    <span class="login-error" id="password_error_message"></span>
                </div>
                <button type="submit">Submit</button> 
                <a href="/signup">SIGN UP!</a>
                <a href="/home">HOME</a>
            </form>
        </div>
    </header>

    <script src="js/login.js" type="text/javascript"></script>
</body>
