<h3>Private information</h3>
<div>
    <p>Contact information: {{user.profile.privateInfo.contactInfo}}</p>
</div>
<div>
    <p>My age is: {{user.profile.privateInfo.age}}</p> 
</div>
<div>
    <p>I'm living in {{user.profile.privateInfo.location}}</p> 
</div>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rN-dnznnwOw" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>