<h3>Private information</h3>
<div>
    <p>Contact information: {{user.profile.privateInfo.contactInfo}}</p>
</div>
<div>
    <p>My age is: {{user.profile.privateInfo.age}}</p> 
</div>
<div>
    <p>I'm living in {{user.profile.privateInfo.location}}</p> 
</div>