* {
    margin: 0;
    padding: 0;
}
/* nav bar */
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
  }

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35424a;
    color: white;
}


.nav-bar-links ul {
    margin: 0 ;
    padding: 0;
    display: flex;
    float: right;
}
  
.nav-bar-links li {
    list-style: none;
    float: right;
}

.nav-bar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-bar-links li:hover {
background-color: #555;
}
  
/* profile.handlebars */
.profile-img {
    width: 31%;
    height: 32vh;
    margin: 0;
}

.pro-span {
    color: burlywood;
}

.pro-file-input {
    background-color: bisque;
    width: 12%
}

.profile-btn {
    margin-top: 23px;
    width: 12%;
    font-size: 1.3rem;
    color: chartreuse;
}

.profile-btn:hover {
    color: chocolate;
}

.pro-form {
    text-align: center;
    
}

.img {
    text-align: center;
}

.showcase{
    max-width: 42%;
    border-radius: 20px;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    margin: auto;
    color: aquamarine;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: darkcyan;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background:rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}


input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}

input[type=submit]:hover{
    background: blanchedalmond;
    opacity: 0.7;
    color: brown;
}

/* date.handlebars */
.images {
    text-align: center;
}

.date-container {
    margin-top: 23px;
    margin-bottom: 23px;
    text-align: center;
}

.date-img {
    width: 12%;
    height: 32vh;
    border: chartreuse dotted;
}

body {
    background-color: coral;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-profile {
    list-style: none;
}

.button-list button {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: brown;
    width: 4%;
    height: 4vh;
    color: chartreuse;
    font-size: 1.2rem;
}

.button-list button:hover {
    background-color: aquamarine;
    border-radius: 15px;
    cursor: pointer;
    color: chocolate;
}

li p {
    color: rgb(6, 58, 126);
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: normal;
}

/* intermediate handlebars */
.inter-h1 {
    margin-top: 40px;
    color: aquamarine;
    text-align: center;
}

.inter-form {
    margin-top: 0;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 65px;
}

input[type=file] {
    color: rgb(5, 38, 39);
    font-size: 1.2rem;
}



span {
    color: rgb(9, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.inter-userinfo {
    margin-top: 34px;
    text-align: center;
    line-height: 7vh;
    height: 50vh;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.inter-btn {
    margin-top: 12px;
    width: 7%;
    font-size: 1.8rem;
    color: rgb(72, 25, 110);
    border-radius: 17px;
}

.inter-links {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 24px;
}

.inter-links a {
    text-decoration: none;
    display: block;
    color: darkkhaki;
}

.inter-links a:hover {
    text-decoration: underline;
    color: brown;
}

.inter-img {
    border: yellow dashed;
}

.inter-img-area {
    text-align: center;
}

/* logout */
.logout-form button{
    background: greenyellow;
}

footer{
    background-color: #35424a;
    color: white;
    text-align: center;
    min-height: 6vh;
}

footer p{
    padding-top: 12px;
    margin: 0;
    font-size: 23px;
}

