* {
    padding: 0;
}

img {
    width: 12%;
    height: 32vh;
}

section{
    background-color: coral;
}

.user-profile{
    margin: auto;
}

ul{
    list-style: none;
}

button {
    background-color: crimson;
    width: 3%;
    height: 1%;
}

button:hover{
    background-color: aquamarine;
    border-radius: 15px;
    cursor: pointer;
}

