* {
    margin: 0;
    padding: 0;
}
/* nav bar */
/*  */
/*  */
/*  */
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
  }

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35424a;
    color: white;
}


.nav-bar-links ul {
    margin: 0 ;
    padding: 0;
    display: flex;
    float: right;
}
  
.nav-bar-links li {
    list-style: none;
    float: right;
}

.nav-bar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.nav-bar-links li:hover {
background-color: #555;
}
  
/* profile.handlebars */
/*  */
/*  */
/*  */

input[type="file"] {
    display: none;
}

.profile-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(38, 138, 138);
    color: darkred;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 12px;
}

.profile-label:hover {
    background-color: brown;
    color: bisque;
    border-radius: 19px;
}

.profile-img {
    width: 35%;
    height: 32vh;
    margin: 0;
}

.pro-span {
    color: burlywood;
}

.pro-file-input {
    background-color: bisque;
    width: 12%
}

.profile-btn {
    margin-top: 23px;
    width: 22%;
    border-radius: 9px;
    background-color: brown;
    font-size: 1rem;
    color: chartreuse;
    margin-bottom: 19px;
}

.profile-btn:hover {
    color: chocolate;
    background-color: bisque;
    border-radius: 12px;
}

.pro-form {
    text-align: center;
    
}

.img {
    text-align: center;
}

.showcase{
    max-width: 42%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    margin: auto;
    margin-top: 33px;
    margin-bottom: 33px;
    color: aquamarine;
    text-transform: uppercase;
}

h3 {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
    color: darkcyan;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background:rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}


input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
}

input[type=submit]:hover{
    background: blanchedalmond;
    opacity: 0.7;
    color: brown;
}

/* date.handlebars */
/*  */
/*  */
/*  */
.wrap {
    margin: 28px 12px 12px 12px;
    text-align: center;
}

.searchButton {
    margin-top: 19px;
    margin-bottom: 12px;
    width: 8%;
    height: 7vh;
    font-size: 1.1rem;
    background-color: bisque;
    color: cadetblue;
    border-radius: 7px;
}

.searchButton:hover {
    border-radius: 17px;
    background-color: darkorange;
    color: aquamarine;
    cursor: pointer;

}

.search-form {
    text-align: center;
}

.form-label {
    margin: auto;
    margin-bottom: 23px;
    margin-top: 21px;
    text-align: center;
    width: 59%;
    color: rgb(46, 34, 3);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
}


.images {
    text-align: center;
}

input[type="radio"]{
    cursor: pointer;
}

.date-container {
    margin-top: 23px;
    margin-bottom: 23px;
    text-align: center;
}

.date-img {
    width: 12%;
    height: 32vh;
    border: chartreuse dotted;
}

body {
    background-color: coral;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-profile {
    list-style: none;
}

.button-list button {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: brown;
    width: 12%;
    border-radius: 15px;
    height: 4vh;
    color: chartreuse;
    font-size: 1.2rem;
}

.date-container a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
}

.date-container a:hover {
    text-decoration: dotted;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(6, 54, 54);
}

.button-list button:hover {
    background-color: aquamarine;
    border-radius: 19px;
    cursor: pointer;
    color: chocolate;
}

li p {
    color: rgb(6, 58, 126);
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: normal;
}

/* post handlebars */
/*  */
/*  */
/*  */

.post-btn {
    margin: auto;
    width: 22%;
    height: 10vh;
    font-size: 2.1rem;
    background-color: bisque;
    color: brown;
    cursor: pointer;
    border-radius: 10px;
}

.post-btn:hover {
    border-radius: 20px;
}

.post-form-area {
    text-align: center;
    margin-top: 30px;
    font-size: 2.0rem;
    text-transform: uppercase;
    color: darkolivegreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.post-body {
    margin-bottom: 30px;
    width: 40%;
    margin: auto;
}

.text-post h2{
    margin-bottom: 23px;
}

.text-post p {
    margin-bottom: 12px;
}

.video-post p {
    margin-bottom: 12px;
}

.video-post article {
    margin-bottom: 12px;
}

.post-title {
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}

.video-post h2 {
    margin-bottom: 23px;
}

.video-title {
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}

.video-description {
    width: 40%;
    margin: auto;
    margin-bottom: 30px;
}

.video-link {
    margin: auto;
    width: 30%;
}

.add-video {
    margin-top: 40px;
    margin: auto;
    width: 22%;
    height: 10vh;
    font-size: 2.1rem;
    background-color: bisque;
    color: brown;
    cursor: pointer;
    border-radius: 10px;
}

input[type="url"] {
    outline: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.submit-post {
    margin-top: 40px;
    margin: auto;
    width: 22%;
    height: 10vh;
    font-size: 2.1rem;
    background-color: bisque;
    color: brown;
    cursor: pointer;
    border-radius: 10px;
}

.btn-area {
    margin-top: 20px;
    text-align: center;
}



/* private handlebars */
/*  */
/*  */
/*  */

.private-info {
    text-align: center;
    color: rgb(44, 26, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    border-bottom: blueviolet dotted;
}

.video-area {
    margin: 23px 0 0 23px;
}

h2 {
    text-align: center;
    color: rgb(7, 66, 66);
}

.private-info p {
    margin: 12px 0 12px 0;
}

.flag h3{
    color: darkred;
    text-transform: uppercase;
    height: 13vh;
}

.private-h {
    margin-top: 23px;
}

.single-post {
    margin: 23px 0 23px 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(27, 39, 6);
    font-weight: bold;
}

.private-img {
    text-align: center;
}

.private-img img {
    margin: 23px 0 23px 0;
    width: 14%;
    height: 32vh;
}

/* intermediate handlebars */
/*  */
/*  */
/*  */

.inter-h1 {
    margin-top: 40px;
    color: aquamarine;
    text-align: center;
}

.inter-form {
    margin-top: 0;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 65px;
}

input[type=file] {
    color: rgb(5, 38, 39);
    font-size: 1.2rem;
}

.inter-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(38, 138, 138);
    color: darkred;
    font-weight: bold;
    border-radius: 7px;
    margin-top: 12px;
}

.inter-label:hover {
    background-color: brown;
    color: bisque;
    border-radius: 19px;
}

.inter-private {
    text-align: center;
    font-size: 1.1rem;
    color: darkslategray;
    font-weight: bold;
}


span {
    color: rgb(9, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.inter-userinfo {
    margin-top: 34px;
    text-align: center;
    line-height: 7vh;
    height: 50vh;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.inter-btn {
    margin-top: 12px;
    width: 7%;
    font-size: 1.0rem;
    background-color: bisque;
    color: rgb(72, 25, 110);
    border-radius: 17px;
}

.inter-btn:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: blueviolet;
}

.inter-links {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 24px;
}

.inter-links a {
    text-decoration: none;
    display: block;
    color: rgb(68, 64, 4);
}

.inter-links a:hover {
    text-decoration: underline;
    color: brown;
}

.inter-img {
    border: yellow dashed;
    width: 16%;
    height: 36vh;
}

.inter-img-area {
    text-align: center;
}

/* logout */
/*  */
/*  */
/*  */
.logout-form button{
    background: greenyellow;
}

footer{
    background-color: #35424a;
    color: white;
    text-align: center;
    min-height: 6vh;
}

footer p{
    padding-top: 12px;
    margin: 0;
    font-size: 12px;
}

/* error handlebars */
/*  */
/*  */
/*  */
.error {
    margin-top: 50px;
    color: brown;
}

/* login handlebars */
/*  */
/*  */
/*  */

.login-body {
    margin: 0;
    padding: 0;
    background: url(images/love2.jpeg) no-repeat center fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}

.loginbox {
    width: 39%;
    height: 87vh;
    background: rgba(34, 42, 2, 0.79);
    color: rgb(231, 247, 12);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 32px;
    color: rgb(243, 174, 178);
}

.loginbox label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 21px;
}

.loginbox input {
    width: 90%;
    margin-bottom: 23px;
}

.loginbox input[type="text"], input[type="password"] 
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: green;
    font-size: 16px;
}

.loginbox button:hover[type="submit"] {
    color: chartreuse;
    background-color: brown;
    cursor: pointer;
    border-radius: 20px;
}

#login-form a {
    text-decoration: none;
    margin: 0 12px 0 12px;
}

.loginbox button[type="submit"]
{
    border: none;
    outline: none;
    height: 50px;
    background: #fb2525;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 53px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;

}

.loginbox a{
    text-decoration: underline;
    font-size: 22px;
    line-height: 20px;
    color: coral;
    margin-bottom: 12px;
}

.login-input {
    margin-bottom: 12px;
}

.login-error {
    color: red;
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 32px;
}

#login-error-message {
    color: rgb(241, 40, 40);
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.loginbox a:hover{
    color: #ffc107;
}

/* signup handlebars */
/*  */
/*  */
/*  */
/* * {
    box-sizing: border-box;
  } */
  
  .signup-body header {
    margin-bottom: 40px;
  }
  
  .signup-body {
    margin: 0;
    padding: 0;
    background: url('/css/images/love3.jpg') no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .showcase h2{
    color: brown;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .current { 
    color: red;
    font-weight: bold;
  }
  
  .signup-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35424a;
    color: white;
  }
  
  .signup-brand-title {
    font-size: 1.5rem;
    margin: .5rem;
  }
  
  .signup-navbar-links ul {
    margin: 0 ;
    padding: 0;
    display: flex;
  }
  
  .signup-navbar-links li {
    list-style: none;
  }
  
  .signup-navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
  }
  
  .signup-navbar-links li:hover {
    background-color: #555;
  }

  .signup-form p {
      color: #770b0b;
      font-size: 1.0rem;
  }
  
  .error {
    color: red;
    margin-left: 5px;
  }
  
  label.error {
    display: inline;
  }
  
  input[type="radio"] {
    margin-bottom: 23px;
    cursor: pointer;
    margin-right: 12px;
  }
  
  .showcase{
    max-width: 42%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 40px;
    margin: auto;
    margin-bottom: 44px;
    color: aquamarine;
    text-transform: uppercase;
  }
  
  .error_form{
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .signup-form h3 {
    text-align: center;
    color: brown;
  }
  
  .signup-form input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background:rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
  }
  
  .signup-form input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
  }
  
  .signup-form input[type=submit]:hover{
    background: rgb(68, 43, 5);
    opacity: 0.7;
  }

  