* {
  box-sizing: border-box;
}

header {
  margin-bottom: 40px;
}

body {
  margin: 0;
  padding: 0;
  background: url('/css/images/love3.jpg') no-repeat;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  color: brown;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.current { 
  color: red;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #35424a;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0 ;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}

.showcase{
  max-width: 42%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 40px;
  margin: auto;
  margin-bottom: 44px;
  color: aquamarine;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  color: brown;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number]{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background:rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}

input[type=submit]{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #60adde;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
}

input[type=submit]:hover{
  background: blanchedalmond;
  opacity: 0.7;
}


footer{
  background-color: #35424a;
  color: white;
  text-align: center;
  min-height: 6vh;
}

footer p{
  padding-top: 12px;
  margin: 0;
  font-size: 12px;
}



/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 1;
  font-size: 1.3rem;
  margin-top: 1rem;
}

button:hover{
  border-radius: 12px;
  opacity:1;
}


/* Add padding to container elements */



  