.body-container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 9vh;
  background-color: pink;
}

.branding h1{
  margin: 0;
  padding: 0;
  float: left;
  color: brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav{
  margin: 0;
  float: right;
}

header a{
  text-decoration: none;
  font-size: 1.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: rgb(70, 177, 240);
  background-color: pink;
  font-weight: bold;
}

header a:hover{
  color: aquamarine;
  font-weight: bold;
  text-decoration: underline;
  background-color: crimson;
  
}

header ul {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

header li{
  list-style-type: none;
  display: inline;
  margin: 1rem;
}



.showcase{
  width: 100%;
  margin-top: -17px;
  padding: 0;
  min-height: 90vh;
  background: url(images/love3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.profile-form {
  height: 53vh;
  margin: auto;
  padding: 0;
  width: 30%;
  opacity: 0.91;
  background-color: rgb(104, 64, 13);
  display: flex;
  flex-flow: wrap;
  align-items: center;
  float: left;
}

.profile-form .private-info .signup-form{
  display: inline;
}

form div {
  height: 10vh;
}

.private-info {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 53vh;
  opacity: 0.91;
  background-color: chocolate;
  float: left;
}

.signup-form{
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: burlywood;
  opacity: 0.91;
  color: rgb(7, 83, 54);
  height: 53vh;
  text-transform: uppercase;
  float: left;
}

.signup-input{
  margin: 1vh;
  padding: 0;
  line-height: 3.4rem;
  font-size: 1.9rem;
  overflow: hidden;
  outline: none;
  border: none;
}

.signup-form input[type="text"], input[type="password"] 
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: green;
    font-size: 16px;
}


footer{
  background-color: #35424a;
  color: white;
  text-align: center;
  min-height: 6vh;
}

footer p{
  padding-top: 12px;
  margin: 0;
  font-size: 23px;
}



/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 1;
  font-size: 1.3rem;
  margin-top: 1rem;
}

button:hover{
  border-radius: 12px;
  opacity:1;
}


/* Add padding to container elements */



  